// We need to use SASS for the exercise

// 1. Variables
$newsCardMaxWidth: 500px;
$imageInCardMinWidth: 100px;

// 2. Mixins
@mixin minWidth($property) {
    min-width: $property;
}

// 3. Extend
%newsCardWidth {
    max-width: $newsCardMaxWidth;
}

// Use SASS elements in classes:
.news-card {
    @extend %newsCardWidth;
}
.img-in-card {
    @include minWidth($imageInCardMinWidth);
}
